@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

	:root {
		--background: 0 0% 20%;
		--foreground: 105 5% 90%;
		--card: 105 50% 7%;
		--card-foreground: 105 5% 90%;
		--popover: 105 50% 5%;
		--popover-foreground: 105 5% 90%;
		--primary: 105 51% 74%;
		--primary-foreground: 0 0% 0%;
		--secondary: 105 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 67 30% 15%;
		--muted-foreground: 105 5% 60%;
		--accent: 67 30% 15%;
		--accent-foreground: 105 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 105 5% 90%;
		--border: 105 51% 74%;
		--input: 105 51% 74%;
		--ring: 105 51% 74%;
		--radius: 0.3rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
